<header>
	<% if(currentUser) { %>
		<form action="/sessions?_method=DELETE" method="POST">
			<input type="submit" value="Log Out" />
		</form>
	<% } else { %>
		<a href="/users/new">Register</a>
		<a href="/sessions/new">Login</a>
	<% } %>

    <h1>YOUR RECIPES</h1>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/recipes">SAVED RECIPES</a></li>
    </ul>
  </header>