<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes | Food </title>
    <link rel="stylesheet" href="/style.css">
    <!-- ============= LINKING STYLE TO HEAD.EJS============= -->
	<%- include('../partials/nav.ejs')  %>
</head>


<body>
	<h1>Dashboard</h1>
</body>
<%- include('./partials/footer.ejs')  %>

</html>