<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes | Food </title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="/style.css">
    <link rel="manifest" href="/site.webmanifest">


	<%- include('./partials/nav.ejs')  %>
</head>
<body>
    <main>

    <form>
        <h1 id ='mainTitle'>Find Your Favorite Recipe!</h1>

        <input id="searchBar" type="text" placeholder="Find recipes by Keyword(s) or Ingredient(s)
        " />
        <input id="searchButton" type="submit" value="SEARCH"></input> 
        
    </form>
    </main>

    <div class="information">
        <h1><b>RECIPES & DETAILS</b></h1>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    const $form = $('form')
    const $input = $('input[type="text"]')
    
    $form.on('submit', handleGetData)
 
    function handleGetData(recipe) {
        recipe.preventDefault() //< to stop broswer from refreshing every time we click 
         userInput = $input.val();
        if (userInput === '') return;
     
     const URL = "https://api.edamam.com/api/recipes/v2?type=public&q="+userInput+"&app_id=7f6c4275&app_key=b37b4433bc0431b930bcc25337dfe5b4"
 
 
     $.ajax(URL).then(
     
         function(json) {
                    $('.information').html("<h1><b>RECIPES & DETAILS</b></h1><hr>")
     
                     const recipeList = [];
                     const recipeInfo =  json.hits;
                     for (let i = 0; i < recipeInfo.length; i++) {
                       const recipeInfoList = recipeInfo[i];
                       

                    $('.information').append( 
                        "<p><img src='" + recipeInfo[i].recipe.images.REGULAR.url+"''></p>"+

                       '<form action="/recipes" method="POST">' +
                       '<ul><label for="label">Title </label>'+
                       '<input type="label" name="label" id="label" value="' + recipeInfo[i].recipe.label + '"</input></ul>'+
                       '<ul><label for="calories">Calories </label>'+
                       '<input type="calories" name="calories" id="calories" value="' + recipeInfo[i].recipe.calories + '"</input></ul>'+
                       '<ul><label for="uri">For More Info</label>'+

                       '<input type="uri" name="uri" id="uri" value="' + recipeInfo[i].recipe.uri + '"</input>'+

                       '<input type="submit" value="ADD RECIPES TO YOUR COLLECTION!"</input>"</form><hr>"'

                    );
                     }
                  },

         function(xhr, status, err) {
             console.log('Sorry! We broke it! Check back later!')
                    // This time, we do not end up here!
                 }
                ); 
     };
     
 </script>

</body>

<%- include('./partials/footer.ejs')  %>

</html>