<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes | Food </title>
    <link rel="stylesheet" href="/style.css">
    <header>

    
        <h1>YOUR RECIPES</h1>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/recipes">SAVED RECIPES</a></li>
        </ul>
      </header>
<body>
   
    <main>
        <h2>Edit Recipe</h2>
        <form action="/recipes/<%= recipes._id %>?_method=PUT" method="POST">
            <ul><label for="label">Title </label>
            <input type="label" name="label" value="<%= recipes.label %>" /></ul><br/>
            
            <ul><label for="calories">Calories </label>
            <input type="calories" name="calories" value="<%= recipes.calories %>" /></ul><br/>

            <ul><label for="uri">Link</label>
            <input type="uri" name="uri" value="<%= recipes.uri %>" /></ul><br/>

            <input type="submit" value="Update Recipe" />
        </form>
    </main>
</body>
<footer>
    <span>℗ 2022</span>
    <span>BY DORIS LAU</span>
  </footer>
</html>
