<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes | Food </title>
    <link rel="stylesheet" href="/style.css">
    <header>
        <h1>YOUR RECIPES</h1>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/recipes">SAVED RECIPES</a></li>
        </ul>
      </header>
</head>
<body>
        <main>
            <h2>List of Saved Recipes</h2>
            <ol>
                <% for(let i = 0; i < recipes.length; i++){ %>
                <li>
                    <a href="/recipes/<%= recipes[i]._id %>"><%= recipes[i].label %></a>
                </li><hr>
                <% } %>
            </ol>
        </main>
</body>
<footer>
    <span>℗ 2022</span>
    <span>BY DORIS LAU</span>
  </footer>
</html>