<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipes | Food </title>
    <link rel="stylesheet" href="/style.css">
    <!-- ============= LINKING STYLE TO HEAD.EJS============= -->
	<%- include('../partials/nav.ejs')  %>
</head>

<body>
	
</main>
</body>
<footer>
    <span>℗ 2022</span>
    <span>BY DORIS LAU</span>
  </footer>
</html>